[Unit]
Description=Take an incremental pgBackRest backup

[Timer]
OnBootSec={{ lab6_backup_incr_on_boot }}
OnUnitActiveSec={{ lab6_backup_incr_interval }}
Unit=lab6-backup@incr.service
AccuracySec=1s
Persistent=false

[Install]
WantedBy=timers.target
