[global]
repo1-path=/var/lib/pgbackrest
repo1-retention-full=2
process-max=2
start-fast=y
log-level-console=info
log-level-file=detail
spool-path=/var/spool/pgbackrest

[{{ lab1_cluster_name }}]
pg1-path={{ lab1_postgres_data_dir }}
