[defaults]
inventory = inventory/lima.sh
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = false
host_key_checking = false
local_tmp = /private/tmp/ansible-lab3

[ssh_connection]
pipelining = true
