[Unit]
Description=Take an incremental pgBackRest backup

[Timer]
OnBootSec={{ lab5_backup_incr_on_boot }}
OnUnitActiveSec={{ lab5_backup_incr_interval }}
Unit=lab5-backup@incr.service
AccuracySec=1s
Persistent=false

[Install]
WantedBy=timers.target
